#bloco-texto {
    width: 300px;
    height: 100px;
    background-color: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

#botao-mudar-cor {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}
