<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Blog</title>
    </head>
    <body>
        <h1>Posts</h1>
        <a href="{% url 'new post' %}">Create New Post</a>
        {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <small>{{ post.created_at }}</small>
        </div>
        <a href="{% url 'edit_post' post.id %}">Edit Post</a>
        <a href="{% url 'post_detail' post.id %}">View More</a>
        <a href="{% url 'delete_post' post.id %}">Delete</a>
    {% endfor %}
    </body>
</html>